<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <span class="copyright">Copyright &copy; META Cursos 2018</span>
      </div>
      <div class="col-md-2">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/metacursosslz/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://facebook.com/metacursosslz" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
             Template: <a href="http://startbootstrap.com" target="_blank">StartBootstrap</a>
          </li>
          <li class="list-inline-item">
             Imagens:  <a href="http://pixabay.com" target="_blank">PixBay</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
